<div class="pos-r img-container w-100 h-100">
    <ng-container *ngIf="!control">
        <ng-container *ngIf="user?.avatar">
            <img [src]="user?.avatar" class="rounded-circle wp-100 hp-100" alt="Avatar" />
        </ng-container>
        
        <ng-container *ngIf="!user?.avatar">
            <div class="wp-100 hp-100 br-circle h-border">
                <img src="../../../assets/images/general/user.svg" class="rounded-circle wp-100 hp-100"  alt="Avatar" />
            </div>
        </ng-container>
    </ng-container>
    
    
    <ng-container *ngIf="control">
        <ng-container *ngIf="control?.value">
            <img [src]="control?.value" class="rounded-circle wp-100 hp-100" alt="Avatar" />
        </ng-container>
        
        <ng-container *ngIf="!control?.value">
            <div class="wp-100 hp-100 br-circle h-border">
                <img src="../../../assets/images/general/user.svg" class="rounded-circle wp-100 hp-100"  alt="Avatar" />
            </div>
        </ng-container>
    
        <div class="pos-a upload-control f-center wp-100 hp-100 br-circle clickeable" (click)="exeFile()">
            <span><i class="fa fa-upload"></i></span>
        </div>

        <ng-container *ngIf="cambioFile">
            <div class="pos-a upload-percent f-center wp-100 hp-100 br-circle clickeable">
                <span>{{ porcentaje }} %</span>
            </div>
        </ng-container>
        <input [id]="idControlFile" type="file" style="display: none;" (change)="cambioArchivo($event)">
    </ng-container>
</div>